/* Font Faces */
@font-face {
  font-family: "ABCDiatype";
  src: url("../fonts/ABCDiatype-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("../fonts/ABCDiatype-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("../fonts/ABCDiatype-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("../fonts/ABCDiatype-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "HersheyArkDes";
  src: url("../fonts/Hershey-ArkDes-40.woff2") format("woff2");
}

@font-face {
  font-family: "ArkDesDot";
  src: url("../fonts/ArkDes-Dot.woff2") format("woff2");
}
