/* Import external styles */
@import url("reset.css");
@import url("fonts.css");

:root {
  --gridColor: #ccc;
  --highlightColor: hsl(360 100% 50%);
  --highlightBackground: hsl(60 100% 76%);
  --fontFamily: "ABCDiatype", sans-serif;
  --fontSize: 1.3rem;
  --lineHeight: 1.1;
  --fontWeight: 700;
  --paddingTop: 1rem;
  --borderRadius: 1rem;
  --buttonPadding: 0.5rem;
  --imageGap: 15px;
  --imageBoxPadding: 10px;
  --imageBorderRadius: 8px;
  /* --boxShadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  --placeholderColor: gray;
  --backgroundPattern: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0V1V10H10V0H1ZM1 0C1.55228 0 2 0.447715 2 1C2 1.55228 1.55228 2 1 2C0.447715 2 0 1.55228 0 1C0 0.447715 0.447715 0 1 0Z' fill='%23fff'/%3E%3C/svg%3E");
}

/* Fullscreen Text Scaling */
html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--fontFamily);
  margin: 0;
  box-sizing: border-box;
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
}

body {
  padding-top: var(--paddingTop);
  background-image: var(--backgroundPattern);
  background-position: -1px -1px;
  background-size: 10px 10px;
  background-repeat: repeat;
  background-color: var(--gridColor);
}

.highlight {
  background-color: var(--highlightBackground);
  color: var(--highlightColor);
}

/* Game layout */
#gameSection {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

#generateButton:disabled {
  opacity: 0.5;
  pointer-events: none;
}

main > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

button,
textarea {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}

main {
  padding: 0 1rem;
}

#promptInput:focus {
  outline: none;
}

/* Editable div input (acts like textarea) */
textarea {
  width: 100%;
  height: 50cqh;
  outline: none;
  border: none;
  overflow: hidden;
}

/* Placeholder style */
#promptInput.empty::before {
  content: attr(data-placeholder);
  color: var(--placeholderColor);
  pointer-events: none;
  display: block;
}

/* Image container */
.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Image inside container */
img,
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer p {
  padding: 1rem;
  background-color: white;
}

.imageContainer p:first-letter {
  text-transform: uppercase;
}

/* Footer stays at the bottom */
footer {
  text-align: center;
}

/* Button */
button {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  border-radius: var(--borderRadius);
  padding: var(--buttonPadding);
}

#imageGallery {
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(250px, 1fr)
  ); /* Force 4 columns, but still responsive */
  gap: var(--imageGap);
}

.image-box {
  background: white;
  padding: var(--imageBoxPadding);
  border-radius: var(--imageBorderRadius);
  /* box-shadow: var(--boxShadow); */
  text-align: center;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 900px) {
  #imageGallery {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Adjust to available space */
  }
}

@media (max-width: 600px) {
  #imageGallery {
    grid-template-columns: 1fr; /* One column on small screens */
  }
}

/* Small class for paragraphs */
.small {
  font-size: calc(var(--fontSize) * 0.8);
}
